<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#if __IS_DEV__}}
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/src/style.css" />
    {{else}}
        <link rel="stylesheet" type="text/css" href="{{asset " assets/moegi.css"}}" />
    {{/if}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div>
        {{> header}}

        <main class="pt-12">
            {{{body}}}
        </main>

        {{> footer}}

    </div>

    {{#if __IS_DEV__}}
        <script type="module" src="http://localhost:3000/@vite/client"></script>
        <script type="module" src="http://localhost:3000/src/main.js"></script>
    {{else}}
        <script src="{{asset " assets/moegi.js"}}"></script>
    {{/if}}

    {{ghost_foot}}

</body>

</html>