<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "assets/style.css"}}" />

    {{ghost_head}}

</head>
<body class="{{body_class}}">
<div class="pt-12">
    {{> "header"}}

    <header id="gh-head" class="gh-head {{#if @site.cover_image}}has-cover{{/if}}">
        <nav class="gh-head-inner inner gh-container">

            <div class="gh-head-brand">
                <a class="gh-head-logo" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
                <a class="gh-burger" role="button">
                    <div class="gh-burger-box">
                        <div class="gh-burger-inner"></div>
                    </div>
                </a>
            </div>
            <div class="gh-head-menu">
                {{!-- {{navigation}} --}}
            </div>
            <div class="gh-head-actions">
                <div class="gh-social">
                    {{!-- {{#if @site.facebook}}
                        <a class="gh-social-facebook" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                    {{/if}}
                    {{#if @site.twitter}}
                        <a class="gh-social-twitter" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                    {{/if}} --}}
                </div>

                {{#unless @member}}
                    <a class="gh-head-button" href="#/portal/signup">Subscribe</a>
                {{else}}
                    <a class="gh-head-button" href="#/portal/account">Account</a>
                {{/unless}}
            </div>
        </nav>
    </header>

    <main>
        {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </main>

    {{!-- The global footer at the very bottom of the screen --}}
    <footer class="site-footer outer">
        <div class="inner">
            <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
            <nav class="site-footer-nav">
                {{navigation type="secondary"}}
            </nav>
            <div><a href="https://ghost.org/" target="_blank" rel="noopener">Powered by Ghost</a></div>
        </div>
    </footer>

</div>
{{!-- /.viewport --}}

{{!-- <script type="module" src="{{asset "assets/ghost-theme-moegi.es.js"}}"></script> --}}
<script src="{{asset "assets/ghost-theme-moegi.umd.js"}}"></script>
{{!-- <script src="{{asset "built/casper.js"}}"></script> --}}

{{ghost_foot}}

</body>
</html>