<header id="gh-head" class="gh-head">
    <div class="gh-head-brand">
        <a class="gh-head-logo" href="{{@site.url}}">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
            {{else}}
                {{@site.title}}
            {{/if}}
        </a>
        <a class="gh-burger" role="button">
            <div class="gh-burger-box">
                <div class="gh-burger-inner"></div>
            </div>
        </a>
    </div>
</header>