<!DOCTYPE html>
<html>

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/moegi.css"}}" /> {{! Ghost outputs important style and meta data with this tag }}{{ghost_head}}
</head>

<body>
    <div class="container">
        {{! The big featured header }}
        <header class="center">
            <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
            <div class="blog-description">{{@blog.description}}</div>
            {{navigation}}
        </header>

        {{! Everything else gets inserted here }} {{{body}}}

        <footer class="blog-footer">
            <p><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} | <a href="{{@blog.url}}/rss">RSS Feed</a></p>
            <p>Powered by <a href="https://ghost.org" target="_blank">Ghost</a> | Theme <a href="https://ddiu.site" target="_blank">Moegi</a></p>
        </footer>

    </div>

    <button id="go-to-top" class="go-to-top"></button> 
    
    <script type="text/javascript" src="{{asset "js/moegi.js"}}"></script>
    {{! Ghost outputs important scripts and data with this tag }} {{ghost_foot}}
</body>

</html>
