<!DOCTYPE html>
<html>

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/typo.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/moegi.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "fonts/iconfont.css"}}">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/default.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    {{!-- <script src="https://use.typekit.net/ueu5sio.js"></script> --}}
    {{!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> --}}
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body>
    <div class="container">
        {{! Everything else gets inserted here }} {{{body}}}

        <footer class="blog-footer">
            <p>Powered by <a href="https://ghost.org" target="_blank">Ghost</a> | Theme <a href="https://ddiu.site" target="_blank">Moegi</a></p>
            <p>&copy;<a href="{{@blog.url}}">{{@blog.title}}</a></p>
        </footer>

    </div>

    <button id="go-to-top" class="go-to-top"></button>

    <script type="text/javascript" src="{{asset "js/moegi.js"}}"></script>
    <script src="https://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{! Ghost outputs important scripts and data with this tag }} {{ghost_foot}}
</body>

</html>
