{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}
{{!< default}}

<header>
    <div class="post-blog-title">
        <a href="{{@blog.url}}"><i class="iconfont icon-back"></i>&nbsp;{{@blog.title}}</a>
        <div class="post-nav">
            {{navigation}}
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <section class="error-message">
            <h1 class="error-code">{{code}}</h1>
            <p class="error-description">{{message}}</p>
        </section>
    </div>
</main>