{{!< default}}

{{#post}}
<header>
    <div class="post-blog-title">
        <a href="{{@blog.url}}"><i class="iconfont icon-back"></i>&nbsp;{{@blog.title}}</a>
        <div class="post-nav">
            {{navigation}}
        </div>
    </div>
</header>

<main role="main">
    <article class="page-archives">
        <header class="post-header short-diver">
            <h1 class="post-title">归档</h1>
            <section class="post-meta">
                {{#get "posts" as |posts pages|}}
                共有{{pages.total}}篇文章
                {{/get}}
            </section>
        </header>

        <div id="archives-list" class="typo">
            {{#get "posts" limit="all" order="published_at desc"}}
                {{#foreach posts }}
                    <h2>{{date published_at format="YYYY"}}</h2>
                    <ul id="year-{{date published_at format="YYYY"}}">
                        <li>
                            <time>{{date  format="MM-DD"}}</time>
                            <a href='{{url}}'>{{title}}</a>
                        </li>
                    </ul>
                {{/foreach}}
            {{/get}}
        </div>
    </article>
</main>
{{/post}}