{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
{{#post}}
{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
    <section class="author-profile" {{#if cover_image}}style="background-image:url('{{cover_image}}')"{{/if}}>
    <a href="{{@blog.url}}" class="go-home-page" style="background-image:url({{#if @blog.logo}}{{@blog.logo}}{{else}}{{asset "/assets/go-home.png"}}{{/if}}")></a>
        <div class="author-info">
            <figure class="author-image {{#if cover_image}}has-cover{{/if}}">
                <div class="img image-bg" style="background-image: url({{img_url profile_image}})"><span class="hidden">{{name}}'s Picture</span></div>
            </figure>
                <h1 class="author-title">{{name}}</h1>
                {{#if bio}}
                    <p class="author-bio">{{bio}}</p>
                {{/if}}
        </div>
        <ul class="author-meta">

            {{#if location}}
                <li class="author-location">
                    <a href="https://www.google.com/maps/search/{{location}}" class="icon-location" title="{{location}}"></a>
                </li>
            {{/if}}
            {{#if website}}
                <li class="author-link">
                    <a class="icon-link" href="{{website}}" title="{{website}}"></a>
                </li>
            {{/if}}
            {{#if twitter}}
                <li class="author-twitter">
                    <a class="icon-twitter" href="{{twitter_url}}" title="{{twitter}}"></a>
                </li>
            {{/if}}
            {{#if facebook}}
                <li class="author-facebook">
                    <a class="icon-facebook" href="{{facebook_url}}" title="{{facebook}}"></a>
                </li>
            {{/if}}
{{!--             <span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span> --}}
        </ul>
    </section>
{{/author}}

{{! The main content area on the homepage }}
<main class="content" role="main">
    <article class="{{post_class}} single-post">
        <section class="post-content short-diver">
            {{content}}
        </section>
    </article>
</main>

{{/post}}
