{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}


<main role="main">
    <article class="{{post_class}} single-post">
        <header class="post-header short-diver">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                Published at <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>,
                updated at <time class="post-date" datetime="{{date updated_at format='YYYY-MM-DD'}}">{{date updated_at format="DD MMMM YYYY"}}</time>
                <br>
                {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content short-diver">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if profile_image}}
            <div class="author-image">
                <a class="img image-bg" href="{{url}}" style="background-image: url({{img_url profile_image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </div>
            {{/if}}

            <section class="author short-diver">
                <h4 class="author-name"><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p class="author-bio">{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}
                        <li class="author-location">
                            <a href="https://www.google.com/maps/search/{{location}}" class="icon-location" title="{{location}}"></a>
                        </li>
                    {{/if}}
                    {{#if website}}
                        <li class="author-link">
                            <a class="icon-link" href="{{website}}" title="{{website}}"></a>
                        </li>
                    {{/if}}
                    {{#if twitter}}
                        <li class="author-twitter">
                            <a class="icon-twitter" href="{{twitter_url}}" title="{{twitter}}"></a>
                        </li>
                    {{/if}}
                    {{#if facebook}}
                        <li class="author-facebook">
                            <a class="icon-facebook" href="{{facebook_url}}" title="{{facebook}}"></a>
                        </li>
                    {{/if}}
                </div>
            </section>

        {{/author}}


        </footer>

    </article>
</main>

{{> "comment"}}

<aside class="read-next">
    {{#prev_post}}<a class="read-next-story prev" href="{{url}}">
        {{!-- <i aria-hidden="true">←</i> --}}
        {{title}}
    </a>
    {{/prev_post}}
    {{#next_post}}
    <a class="read-next-story next" href="{{url}}">
        {{title}}
        {{!-- <i aria-hidden="true">→</i> --}}
    </a>{{/next_post}}
</aside>

{{/post}}


