{{!< default}}

{{#post}}

<article class="ghost-article {{post_class}} prose max-w-prose mx-auto">

    <header class="article-header relative overflow-hidden -mt-12 pt-12">
        {{!-- <div class="header-background absolute z-[-10] inset-0">
            {{#if feature_image}}
            <figure class="article-image opacity-25 h-full w-full">
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 100vw"
                    class="h-full w-full object-cover"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}
        </div> --}}
        <div class="header-foreground px-6 py-6 md:pt-12 md:px-0">
            {{!-- {{#if primary_tag}}
            <section class="article-tag">
                <a href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            </section>
            {{/if}} --}}

            <h1 class="article-title relative text-4xl my-6">{{title}}</h1>

            {{#if custom_excerpt}}
            <p class="article-excerpt relative text-black/50">{{custom_excerpt}}</p>
            {{/if}}

            <div class="article-byline">
                <section class="article-byline-content">
                    {{!-- {{> author-badge data=authors}} --}}
                    <div class='byline-meta-content'>
                        <time class='byline-meta-date' datetime='{{date format=' YYYY-MM-DD'}}'>{{date}}</time>
                    <span class='byline-reading-time'>
                        <span class='bull'>&bull;</span>
                        {{reading_time}}
                    </span>
                    </div>
                </section>
            </div>
        </div>
    </header>

    <section class="gh-content prose mt-10 px-6 md:px-0">
        {{content}}
    </section>

    {{!-- {{> subscribe}} --}}
    
    {{#match @custom.comment_widget "utterances"}}
        {{#if @custom.utterances_repo}}
            <section class="article-comments mt-12 mx-12 px-6 border-t pt-12 md:px-0">
                <div class="-mx-12">
                    <script src="https://utteranc.es/client.js"
                        repo="{{@custom.utterances_repo}}"
                        issue-term="pathname"
                        theme="preferred-color-scheme"
                        crossorigin="anonymous"
                        async>
                    </script>
                </div>
            </section>
        {{/if}}
    {{/match}}

</article>

{{!-- {{> read-more}} --}}

{{/post}}

{{#contentFor "scripts"}}
    
{{/contentFor}}