{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header>
    <div class="post-blog-title">
        <a href="{{@blog.url}}"><i class="iconfont icon-back"></i>&nbsp;{{@blog.title}}</a>
        <div class="post-nav">
            {{navigation}}
        </div>
    </div>
</header>

<main role="main">
    <article class="{{post_class}} single-post">
        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </section>
        </header>

        <section class="post-content typo">
            {{content}}
        </section>

    </article>
    <footer class="post-footer">
        {{> "post-author"}}
        <span class="tags">{{tags separator=""}}</span>
        <aside class="post-readmore">
            <div class="prev">
                {{#prev_post}}
                <a href="{{url}}">
                    <i class="iconfont icon-prev"></i>&nbsp;{{title}}
                </a>
                {{/prev_post}}
            </div>
            <div class="next">
                {{#next_post}}
                <a href="{{url}}">
                    {{title}}&nbsp;<i class="iconfont icon-next"></i>
                </a>
                {{/next_post}}
            </div>
        </aside>
    </footer>
</main>

{{> "toc"}}

{{> "comment"}}

{{/post}}


