{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<header>
    <div class="post-blog-title"><a href="{{@blog.url}}"><i class="iconfont icon-back"></i>&nbsp;{{@blog.title}}</a></div>
</header>

<main role="main">
    <header class="post-header short-diver">
        <h1 class="post-title">#{{tag.name}}</h1>
        <section class="post-meta">
            {{#if tag.description}}
                {{tag.description}}
            {{else}}
                标签下共有{{pagination.total}}篇文章
            {{/if}}
            <br>
        </section>
    </header>

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
