<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "moegi.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs SEO meta+structured data and important settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
  {{ghost_foot}}
  {{#is "post"}}
    {{#post}}
      <article ssr-render>
        <header>
          <h1>{{title}}</h1>
        </header>
        <section id="moegi-post-content">
          {{content}}
        </section>
      </article>
    {{/post}}
  {{/is}}
  {{#is "page"}}
    {{#post}}
      <article ssr-render>
        <header>
          <h1>{{title}}</h1>
        </header>
        <section>
          {{content}}
        </section>
      </article>
    {{/post}}
  {{/is}}
  {{!-- Outputs important scripts - should always be included before closing body tag --}}
  <script src="{{asset "moegi.js"}}" data-autoloader-path="/assets/prism/"></script>
  <p ssr-render>Published with Ghost | Moegi</p>
</body>
</html>