<article class="feed-item {{post_class}}">
    <a href="{{url}}">
        <div class="feed-item-content">
            <span class="meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></span>
            <h2 class="title">{{title}}</h2>
        </div>
    </a>
</article>