<ul>
  {{#foreach posts}}
    <li class="{{post_class}}">
      <h2>
        <a href="{{url}}">{{{title}}}</a>
      </h2>
      <section>
        <p>
          {{excerpt words="26"}}
          <a href="{{url}}">&raquo;</a>
        </p>
      </section>
      <footer>
        {{> "authors" }}
        {{tags prefix=(t " on ")}}
        <time datetime="{{date format='YYYY-MM-DD'}}">
          {{date format="DD MMMM YYYY"}}
        </time>
      </footer>
    </li>
  {{/foreach}}
</ul>

{{pagination}}
