<header
  {{#if @site.cover_image}}
    style="background-image: url({{@site.cover_image}})"
  {{/if}}>
  {{#if @site.logo}}
    <a href="{{@site.url}}">
      <img src="{{@site.logo}}" alt="{{t "Logo"}}">
    </a>
  {{/if}}
  <h1>
    {{@site.title}}
  </h1>
  <p>
    {{@site.description}}
  </p>
</header>
