<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "moegi.css"}}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap" rel="stylesheet">
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{{body}}}
    <footer class="site-footer">
      <a href="{{@site.url}}/rss/">
        {{t "Subscribe via RSS!"}}
      </a>
      {{#if @labs.subscribers}}
        {{subscribe_form placeholder=(t "youremail@example.com")}}
      {{/if}}
      <section>
        <a href="{{@site.url}}/">{{@site.title}}</a>
        &copy; {{date format="YYYY"}} &bull; {{t "All rights reserved."}}
      </section>
    </footer>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "moegi.js"}}"></script>
  </body>
</html>
