{{!< default}}

{{> "site-header"}}

<main role="main">
  <h1>
    {{code}}
  </h1>
  <p>
    {{message}}
  </p>
  <a href="{{@site.url}}">
    {{t "Go to the front page →"}}
  </a>
  {{#if errorDetails}}
    <section>
      <h3>{{t "Theme errors"}}</h3>
      <ul>
        {{#foreach errorDetails}}
          <li>
            <em>{{{rule}}}</em>
            {{#foreach failures}}
              <p>
                {{t "Ref"}}: {{ref}}
              </p>
              <p>
                {{t "Message"}}: {{message}}
              </p>
            {{/foreach}}
          </li>
        {{/foreach}}
      </ul>
    </section>
  {{/if}}
</main>
