{{!< default}}

{{!-- {{> "site-header"}} --}}

{{#post}}
  <main role="main">
    <div class="container">
      <article class="{{post_class}}">
        <header class="post-header">
          <section class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
              {{date format=(t "date-format")}}
            </time>
            {{!-- {{tags prefix=(t " on ") separator=" | "}} --}}
          </section>
          <h1 class="post-title">{{title}}</h1>
          {{#if feature_image}}
            <figure class="post-full-image">
              <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 700px,
                        1400px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
              />
            </figure>
          {{/if}}
        </header>
        <section>
          {{content}}
        </section>
        {{!-- <footer>
          <section>
            {{> "authors" }}
          </section>
          <section>
            {{t "Share this post"}}
            <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
              {{t "Twitter"}}
            </a>
            {{t " or "}}
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
              {{t "Facebook"}}
            </a>
          </section>
        </footer> --}}
      </article>
    </div>
  </main>
{{/post}}
