{{!< default}}

{{> "site-header"}}

<main role="main">
  <header>
    <h1>{{tag.name}}</h1>
    {{#if tag.description}}
      <p>
        {{tag.description}}
      </p>
    {{/if}}
    <p>
      {{plural pagination.total empty=(t "A collection of posts") singular=(t "A collection of 1 post") plural=(t "A collection of % posts")}}
    </p>
    {{#if tag.feature_image}}
      <figure>
        <img src="{{tag.feature_image}}" alt="{{name}}">
      </figure>
    {{/if}}
  </header>
  {{> "loop"}}
</main>
